#{extends 'main.html' /}
#{set title:'Spacebook' /}

<nav class="ui inverted menu">   
  <a class="ui active item" href="/home/${user.id}">Back to Home</a> 
</nav>

<section class="ui raised segment">
  <div class="ui small header"> ${user.firstName} ${user.lastName}'s Profile</div>
  <section class="ui  two column grid segment">
    <div class="row">
      <div class="column">
        <div class="ui medium image">
          <img src="/profile/getpicture/${user.id}"/> 
        </div> 
        <p> <div class="ui green block label">
           <b>Status: </b> ${user.statusText} 
        </div></p> 
        <p>Nationality: ${user.nationality}</p>
        <form action="/publicprofile/sendmessage/${user.id}" class="ui form" method="post">
          <div class="ui form">
  			<div class="field">
    			<label>Subject</label>
    			<input name="subject" type="text">
  			</div>
		</div>
          <div class="field">
          	<label>Message</label>
            <textarea name="messageText"></textarea>
          </div>
          <button  class="ui fluid blue labeled submit icon button">
            <i class="icon edit"></i> Send
          </button>
        </form> 
      </div>
      <div class="column">
        <div class="ui small header">Messages</div>
        <hr>
        <ul>
          #{list items:user.inbox, as:'message'}
            <div class="ui icon message">            
            
			  <i class="inbox icon"></i>
			  <div class="content">
			    <div class="header">
			      <img src="/profile/getpicture/${message.from.id}" class="ui mini rounded image"> ${message.from.firstName}
			    </div>
			    <div class="subject">
			      Subject: ${message.subject} 
			    </div>
			    <p>${message.messageText}</p>
			  </div>
		      </div>    
           
          #{/list}
        </ul>
      </div>
    </div>
  </section>    
</section>