#{extends 'main.html' /}
#{set title:'Home' /}

<nav class="ui inverted menu">
  <a class="active item" href="/home/${user.id}">Home</a>
  <a class="item" href="/members/${user.id}">Members</a>
  <a class="item" href="/profile/${user.id}">Profile</a>
  <a class="item" href="/login">Logout</a>
</nav>

<section class="ui segment">
  <h2 class="ui header">SpaceBook: Home page for ${user.firstName} ${user.lastName}</h2>
  <div class="ui two column grid segment">
    <div class="ui row">
      <div class="ui column">
         <h2>Friends (${user.friendships.size()})</h2>
        <div class="ui list">
          #{list items:user.friendships, as:'friendship'}
            <div class="item">
              <i class="right triangle icon"></i>
              <div class="content">
                <a href="/publicprofile/${friendship.targetUser.id}">${friendship.targetUser.firstName} ${friendship.targetUser.lastName}</a>
                <a href="/home/drop/${friendship.targetUser.id}"> (drop) </a>
              </div>
            </div>
          #{/list}
        </div>
      <div class="ui column">
        <h2>Messages</h2>
        <div class="ui list">        
			<table class="ui very basic collapsing celled table">
			  <thead>
			    <tr><th>Friend</th>
			    <th>Message</th>
			  </tr></thead>
			  <tbody>        
	          #{list items:user.inbox, as:'message'}
	            <div class="item">            
				     <tr>
				      <td>
				        <h4 class="ui image header">
				          <img src="/profile/getpicture/${message.from.id}" class="ui mini rounded image">
				          <div class="content">
				            <a href="/publicprofile/${message.from.id}"> ${message.from.firstName}</a>        
				        </div>
				      </h4></td>
				      <td>
				        ${message.messageText}
				      </td>
				    </tr>  
	            </div>
	          #{/list}
	        </div>        
            </tbody>
          </table>
      </div>
    </div>
  </div>
</section>