#{extends 'main.html' /}
#{set title:'Profile' /}

<nav class="ui inverted menu">
  <a class="item" href="/home/${user.id}">Home</a>
  <a class="item" href="/members/${user.id}">Members</a>
  <a class="active item" href="/profile/${user.id}">Profile</a>
  <a class="item" href="/login">Logout</a>
</nav>

<section class="ui segment">
  <h2 class="ui header"> Name: ${user.firstName} ${user.lastName}'s </h2>
  <h3 class="ui header"> Email: ${user.email}</h3>
  <h3 class="ui header"> Age: ${user.age}</h3>
  <h3 class="ui header"> Nationality: ${user.nationality}</h3>
     <a href="/profile/editdetails/${user.id}"><input class="ui blue button" value="Edit details" /></a>
  <div class="ui two column grid segment">
    <div class="ui row">
      <div class="ui column">
        <p>
          <img src="/profile/getpicture/${user.id}">
        </p>
        <form action="/profile/uploadpicture/${user.id}" method="post" enctype="multipart/form-data">    
          <input type="file" name="picture" /> 
          <input type="submit" name="submit" value="upload" />
        </form>
      </div>
      <div class="ui column form segment">
        <h2 class="ui small header"> Status</h2>
        <div class="ui green block label">
          <p> ${user.statusText} </p>
        </div>
        <hr>
        <form action="/profile/changestatus" method="post">
          <h3 class="ui inverted teal block header">Enter Status</h3>
          <textarea class="ui field" name="profiletext"> </textarea>
          <input class="ui blue button" type="submit" name="submit" value="Change" />
        </form>
      </div>
    </div>
  </div>
</section>