#{extends 'main.html' /}
#{set title:'follow' /}

<nav class="ui inverted menu">   
  <a class="ui active item" href="/home">Back to Home</a> 
</nav>

<p>
  <h1>You are following ${name}</h1>
  <img src="/public/images/${name}.gif"/>  
</p>