#{extends 'main.html' /}
#{set title:'Members' /}

<nav class="ui inverted menu">
  <a class="item" href="/home/${users.id}">Home</a>
  <a class="active item" >Members</a>
  <a class="item" href="/profile/${users.id}">Profile</a>
  <a class="item" href="/login">Logout</a>
</nav>

<section class="ui segment">
  <h2 class="ui header">SpaceBook's Members</h2>
  <div class="ui list">
    #{list items:users, as:'user'}
      <div class="item">
        <i class="right triangle icon"></i> 
        <div class="content">
          ${user.firstName} ${user.lastName} <a href="/members/follow/${user.id}"> (follow) </a>          	
        </div>
        <div class="ui green block label">
          	<p>STATUS-->${user.statusText} </p>
        </div>
      </div> 
    #{/list}
  </div>
</section>


