#{extends 'main.html' /}
#{set title:'Signup for Spacebook' /}

<nav class="ui inverted menu">
  <a class="active item" href="/signup"> Signup  </a>
  <a class="item" href="/login">  Login   </a>
</nav> 

<section class="ui form segment">
  <form action="/register" method="POST">
    <div class="two fields">
      <div class="field">
        <label>First Name</label>
        <input placeholder="First Name" type="text" name="firstName">
      </div>
      <div class="field">
        <label>Last Name</label>
        <input placeholder="Last Name" type="text" name="lastName">
      </div>
    </div> 
    <div class="field">
      <label>Email</label>
      <input placeholder="Email" type="text" name="email">
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" name="password">
    </div>
    <div class="two fields">
	    <div class="field">
	      <label>Age</label>
	      <input placeholder="Age" type="text" name="age">
	    </div>
	    <div class="field">
	      <label>Nationality</label>
	      <input placeholder="Nationality" type="text" name="nationality">
	    </div>
    </div>
    <button class="ui blue submit button">Submit</button>
  </form>
</section> 